:root{
 	--main-color: #afa6cb;
	--dark-gray-color: #101010;
	--light-gray-color: #999;
}

body{
	margin: 0;
	/*position: absolute;*/
}

.container--with-line{
	display: flex;
	border-bottom: 10px solid var(--main-color);
}

.container h1{
	font-size: 90px;
 	font-weight: bold;
	text-transform: uppercase;
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	margin: 330px 0px 0px -420px;
}

.container__letter--purple{
	color:  var(--main-color);
}

.menu{
	position: relative;
	margin: 0px;
	display: flex;
	justify-content: center;
	list-style: none;
}

.menu__photo-block{
	width: 460px;
	height: 514px;
	color: white;
	background: var(--main-color);
}

h2{
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	color: var(--dark-gray-color);
}

.menu__photo-block h2{
	color: white;
	font-weight: bold;
	padding-left: 30px;
	font-size: 28px;
}

.menu__photo-block p{
	padding-left: 30px;
	font-size: 14px;
 	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	top: 135px;
}

.menu ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.menu ul li{
	font-size: 15px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 20px;
	margin-left: 40px;
}

.menu ul li a{
	color: var(--dark-gray-color);
	padding: 12px 40px;
	text-decoration: none;
}

.menu ul li a.container-img__background--purple{
	color: white;
	background: var(--main-color);
	border-radius: 20px;
}

.photo-block_about{
	background: white;
	height: 300px;
	width: 300px;
	border: 10px solid var(--main-color);
	border-radius: 190px;
	top: 70px;
	right: -80px;
	position: relative;
}

.about__container-img{
	height: 200px;
	width: 200px;
	margin-top: 33px;
	overflow: hidden;
	border: 20px solid var(--main-color);
	border-radius: 220px;
	position: relative;
	right: -50px;
}

.about__container-img img{
	position: absolute;
	top: -30px;
	left: -30px;
}

.tech{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	margin: 50px;
}

.tech__item{
	text-align: center;
	width: 250px;
	height: 250px;
	padding-top: 40px;
	margin: 7px;
	box-shadow: 2px 5px 5px 10px #efeafe;
}

.tech__item img{
	height: 150px;
}

.tech__item h3{
	font-size: 20px;
	font-weight: normal;
	color: var(--dark-gray-color);
	padding-top: 20px;
}

.tech__item p{
	margin: 30px;
	color: gray;
	font-size: 18px;
	line-height: 25px;
}

.tech__item span{
	color: white;
	background: var(--main-color);
	padding: 10px 25px;
}

.portfolio__container-img{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}

.portfolio__container-img div img{
	height: 250px;
	padding: 10px 50px;
}

.container__portfolio h4{
	text-align: center;
	font-weight: normal;
	color: var(--light-gray-color);
	font-size: 18px;
}

.container__portfolio a{
	color: var(--main-color);
	text-decoration: none;
	font-family: 'Arial', sans-serif;
	font-size: 20px;
	text-align: right;
}

.main-footer{
	background: var(--main-color);
	padding: 30px;
	color: white;
}

.main-footer h2{
	color: white;
}

.main-footer__menu ul li a{
	color: white;
	text-transform: none;
}